

.App-header {
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

.Centered-form {
  display: 'flex';
  align-items: center;
  justify-content: center;
  width: 20em;
}

.Navbar-style {
  display: 'flex';
  text-align:center;
}

.Post-div {

  float: left;
  width: 80em;
  padding: 2em;
  margin-top: 1em;
  border-style: solid;
  border-width: 3px;
  border-color: lightgray;
  border-radius: 1em;
  
}

.PostGroup-div {


}

.Sidebar-style {
  min-height: 80em;
}

.Challenge-style {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 30em;
  height: 10em;
  border-style: solid;
  border-radius: 1em;
  border-width: 3px;
  border-color: lightblue;
  background-color: lightblue;

}

.Glyphicon-large {
    font-size: 2em;
}

.PicChallenge-icon {
  border-radius: 2em;
  margin-bottom: 1em;
}

.ListComments-style {
  background-color: #ededed;
}

.Follow-style {
  width: 20em;
}

.Glyph-red {
  font-size: 1.3em;
  color: red;
}

.Glyph-blue {
  font-size: 1.3em;
  color: blue;
}

.Card-style {
  display: flex;

}

.vspace {
  margin-top: 5em;
}

.minispace {
  margin-top: 2em;
}

.CardTable-style {
  margin-top: 2em;
}

.UserInfo-style {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  border-radius: .3em;
  padding: 2em;
  width: 50em;
}